.title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

section {
  padding-top: 10%;
}

.section {
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.subtitle {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  padding-bottom: 10%;
}

.price {
  text-decoration: line-through;
  color: #9c9c9c;
}

.salePrice {
  color: #998e78;
}

.sectionTitle {
  display: inline-flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  width: 100%;
  padding: 5% 0 10%;
}

.input {
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  border-bottom: 1px solid;
}

@keyframes runArrow {
    0% {
      transform: translateX(-300%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }